
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
   --white: #fff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;
    --green-300: #00837E;
    --green-500: #00875f;
    --red-500: #F75A70;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: var(--white);
    background: var(--gray-900);
    font-family: 'roboto', sans-serif;
}

